@import "base/reset";
@import "base/typography";
@import "base/at-root ";
@import "themes/theme_cosmic";
@import "layout/header";
@import "pages/index";
@import "components/card";
@import "components/form";
@import "pages/contacto";
@import "pages/nosotros";
