/*******************
HEADER
**********/
.main-header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 5rem;
  bottom: 0;
  position: relative;
  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) {
    & {
      flex-direction: column-reverse;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    & {
      flex-direction: column;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    & {
      flex-direction: column;
    }
  }
}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }
  &:checked ~ .search-bar .menu-toggle__laber {
    background-color: yellow;
  }
}

/* NAV BAR*/

.nav-bar {
  background-color: mediumaquamarine;
  &__nav-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    /* Medium devices (landscape tablets, 768px and up) */
    @media (min-width: 768px) {
      & {
        flex-direction: row;
      }
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media (min-width: 992px) {
      & {
        flex-direction: row;
      }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media (min-width: 1200px) {
      & {
        flex-direction: row;
      }
    }
  }
  &__nav-item {
    display: none;
    text-align: center;
    background-color: pink;
  }
  &__nav-link {
    display: none;
    background-color: purple;
    color: aliceblue;
    padding: 1em 2em;
    text-decoration: none;
    &:hover {
      color: #ffd300;
      background: inherit;
      text-decoration: none;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) {
    &__nav-link,
    &__nav-item {
      display: none;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    &__nav-link,
    &__nav-item {
      display: block;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    &__nav-link,
    &__nav-item {
      display: block;
    }
  }
}
/* SEARCH BAR*/

.search-bar {
  display: none;
  justify-content: space-between;
  &__logo-container,
  &__form-container {
    padding: 1em;
  }
  &__logo-container {
    text-indent: -999px;
    background: url("../../img/logo.png");
  }
  &__form-container {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }
  &__form-label {
    color: #333;
    opacity: 0.5;
  }
  &__form-search {
    background-image: -moz-linear-gradient(
      --color--secundy-blue,
      --color--primary-blue
    );
    border-radius: 5px;
    width: 70%;
  }
  &__form-submit {
    background-image: -moz-linear-gradient(
      --color--secundy-blue,
      --color--primary-blue
    );
    border-radius: 5px;
  }
  &__carrito-container {
    flex: 0 0 3em;
    opacity: 1;
    background-image: -moz-linear-gradient(
      --color--secundy-blue,
      --color--primary-blue
    );
  }
}

/* MENU TOOGLe*/

.menu-toggle {
  display: flex;
  background-color: red;
  border-radius: 5px;
  margin: auto;
  padding: 50px;
  position: fixed;

  cursor: pointer;
  &__label {
    display: block;
    background-color: black;
    height: 100%;
  }
  &__top-bread,
  &__meat,
  &__bottonm-bread {
    display: block;
    background-color: #333;
    height: 0.2em;
    position: absolute;
    left: 0.5em;
    right: 0.5em;
  }
  &__top-bread {
    top: 0.8em;
  }
  &__meat {
    border: 0.8em #333 solid;
  }
  &__bottonm-bread {
    bottom: 0.25em;
  }
}
