/*******************
HEADER
**********/
.header-wrapped__stick {
  display: flex;
  position: fixed;
  margin-top: -5rem;
}
.main-header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 5rem;
  position: absolute;
  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) {
    & {
      flex-direction: column-reverse;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    & {
      flex-direction: column;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    & {
      flex-direction: column;
    }
  }
}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }
  &:checked ~ .search-bar .menu-toggle__laber {
    background-color: yellow;
  }
}

/* NAV BAR*/

.nav-bar {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  background-color: mediumaquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  &__show {
    transform: translateY(-100%);
  }

  &__nav-list {
    list-style: none;
    background-color: #ffd300;
    /* Medium devices (landscape tablets, 768px and up) */
    @media (min-width: 768px) {
      & {
        flex-direction: row;
      }
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media (min-width: 992px) {
      & {
        flex-direction: row;
      }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media (min-width: 1200px) {
      & {
        flex-direction: row;
      }
    }
  }
  &__nav-item {
    background-color: pink;
    padding: 1px;
  }
  &__nav-link {
    background-color: purple;
    text-decoration: none;
    font-size: 50px;

    &:hover {
      color: #ffd300;
      background: inherit;
      text-decoration: none;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) {
    &__nav-link,
    &__nav-item {
      display: none;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) {
    &__nav-link,
    &__nav-item {
      display: block;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    &__nav-link,
    &__nav-item {
      display: block;
    }
  }
}
/* SEARCH BAR*/

.search-bar {
  display: flex;
  background-color: aqua;
  flex-direction: column;

  &__logo-container,
  &__form-container {
    padding: 1em;
  }
  &__logo-container {
    background-color: #ffd300;
    text-indent: -999px;
    background: url("../../img/logo.png");
    display: flex;
    position: fixed;
  }
  &__form-container {
    background-color: azure;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    width: 23em;
  }
  &__form-label {
    display: none;
    background-color: fdgdfg;
    color: #333;
    opacity: 0.5;
  }
  &__form-search {
    background-image: -moz-linear-gradient(
      --color--secundy-blue,
      --color--primary-blue
    );
    border-radius: 5px;
    width: 70%;
  }
  &__form-submit {
    border-radius: 5px;
    width: 10em;
  }
  &__whishList-container {
    background-color: #ffd300;
    flex: 0 0 3em;
    text-indent: -999px;
    background: url("../../img/icon-buyingEmpty.png");
    background-repeat: no-repeat;
    transform: translate(10%, 10%);
  }
}

/* MENU TOOGLe*/

.menu-toggle {
  display: flex;
  max-width: 100%;
  margin: auto;
  padding: 1px;
  position: fixed;
  right: 1%;
  top: 15%;
  transform: translate(-5%, -50%);

  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) {
    & {
      display: fixed;
      right: 0%;
      top: 5%;
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media (min-width: 992px) {
      & {
        display: none;
      }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media (min-width: 1200px) {
      & {
        display: none;
      }
    }

    cursor: pointer;
    &__label {
      display: block;
      background-color: black;
      height: 100%;
    }
  }
}
