<section class="section-cards">
  <header class="section-cards__header">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Se encontraron X productos</p>
  </header>

  <div class="cards-container">
    <a href="#" class="card">
      <article class="card__article">
        <div class="card__image-container">
          <img
            class="card__image"
            src="img/productos/apple-iphone-11-pro-max.jpg"
            alt="IPhone 11 Pro Max"
          />
        </div>
        <div class="card__content">
          <h2 class="card__heading">TV</h2>
          <div class="card__description">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
              deleniti consequuntur inventore minus ea consequatur omnis. Eaque
              repudiandae amet ad!
            </p>
          </div>
        </div>
      </article>
    </a>
    <!-- .card -->

    <a href="#" class="card">
      <article class="card__article">
        <div class="card__image-container">
          <img
            class="card__image"
            src="img/productos/apple-iphone-11-pro-max.jpg"
            alt="IPhone 11 Pro Max"
          />
        </div>
        <div class="card__content">
          <h2 class="card__heading">TV</h2>
          <div class="card__description">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
              deleniti consequuntur inventore minus ea consequatur omnis. Eaque
              repudiandae amet ad!
            </p>
          </div>
        </div>
      </article>
    </a>
  </div>
  <!-- cards-container -->
</section>
