<div class="container-list">
  <h1>Alta</h1>

  <form autocomplete="off">
    <!-- Campo de nombre -->
    <label for="name">Nombre</label>
    <input type="text" id="name" />
    <div></div>

    <!-- Campo de price -->
    <label for="price">Precio</label>
    <input type="text" id="price" />
    <div></div>

    <!-- Campo de stock -->
    <label for="stock">Stock</label>
    <input type="text" id="stock" />
    <div></div>

    <!-- Campo de category -->
    <label for="category">Categoría</label>
    <input type="text" id="category" />
    <div></div>

    <!-- Campo de details -->
    <label for="details">Detalles</label>
    <input type="text" id="details" />
    <div></div>

    <!-- Campo de photo -->
    <label for="photo">Foto</label>
    <input type="text" id="photo" />
    <div></div>

    <!-- Campo de send -->
    <label for="send">Envío</label>
    <input type="checkbox" id="send" />
    <div></div>

    <button onclick="saveProduct(id)">Add</button>
  </form>

  <hr />
  <h2>List of products</h2>
  <hr />

  <div id="list-product"></div>
</div>
