<!-- <header class="main-header"> #TODO
  <input type="checkbox" id="menu" />

  <nav class="nav-bar">
    <ul class="nav-bar__nav-list">
      <li class="nav-bar__nav-item">
        <a href="/index.html" class="nav-bar__nav-link"> Inicio </a>
      </li>
      <li class="nav-bar__nav-item">
        <a href="/views/list.html" class="nav-bar__nav-link"> Alta </a>
      </li>
      <li class="nav-bar__nav-item">
        <a href="/contacto.html" class="nav-bar__nav-link"> Contacto </a>
      </li>
      <li class="nav-bar__nav-item">
        <a href="/nosotros.html" class="nav-bar__nav-link"> Nosotros </a>
      </li>
    </ul>
  </nav> -->
  <!-- nav-bar -->

  <div class="search-bar">
    <div class="search-bar__logo-container">Logo</div>
    <form action="" class="search-bar__form-container">
      <label for="busqueda" class="search-bar__form-label">Buscar</label>
      <input type="search" class="search-bar__form-search" id="busqueda" />
      <input type="submit" class="search-bar__form-submit" value="Buscar" />
    </form>
    <div class="search-bar__carrito-container">C</div>
    <div class="menu-toggle">
      <label for="menu" class="menu-toggle__label">
        <span class="menu-toggle__top-bread"></span>
        <span class="menu-toggle__meat"></span>
        <span class="menu-toggle__bottom-bread"></span>
      </label>
    </div>
  </div>
  <!-- search-bar -->
</header>
<!-- <header> -->
<main>
  <div class="section-cards">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>
      Resize the browser window to see that this page is responsive by the way.
    </p>
  </div>

  <h2>Nosotros</h2>
  <div class="cards-container">
    <div class="column">
      <div class="card__person">
        <img src="/w3images/team1.jpg" alt="Jane" style="width: 100%" />
        <div class="container">
          <h2>persona1</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card__person">
        <img src="/w3images/team2.jpg" alt="Mike" style="width: 100%" />
        <div class="container">
          <h2>persona2</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card__person">
        <img src="/w3images/team3.jpg" alt="John" style="width: 100%" />
        <div class="container">
          <h2>persona3</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</main>
