:root {
  --color--primary-white: #fefbf3;
  --color--primary-black: #000317;

  --color--primary-blue: #131521;
  --color--secundy-blue: #393ed0;
  --color--tercery-blue: #3c6ab8;
  --color--cuartry-blue: #89bef4;
  --color--quintary-blue: #9cffff;

  --color--primary-red: #c79e72;
  --color--secundy-red: #9a3b2e;
  --color--tercear-red: #9b4537;
  --color--cuartry-red: #493a17;
  --color--quintar-red: #eaae6f;

  --color--primary-gold: #795300;
  --color--secundy-gold: #b28405;
  --color--tercear-gold: #efb810;
  --color--cuartry-gold: #f9db5c;
  --color--quintar-gold: #ffff94;

  --color--alfa-indigo: #e6cde5;
  --color--beta-indigo: #463470;

  --color--primary-pink: #ffa3ff;
  --color--secundy-pink: #ff5dff;
  --color--tercery-pink: #fe09fe;
  --color--cuartry-pink: #c71a83;
  --color--quintry-pink: #bba3ed;

  --color--: #232323;
  --color--: #26294a;
  --color--: #01545a;
  --color--: #017351;
  --color--: #03c383;
  --color--: #aad962;
  --color--: #fbbf45;
  --color--: #ef6a32;
  --color--: #ed0345;
  --color--: #a12a5e;
  --color--: #710162;
  --color--: #110141;
}
