:root {
  --color--primary-white: #fefbf3;
  --color--primary-black: #000317;

  --color--primary-blue: #121832;
  --color--secundy-blue: #393ed0;
  --color--tercery-blue: #3c6ab8;
  --color--cuartry-blue: #89bef4;
  --color--quintary-blue: #9cffff;

  --color--primary-red: #c79e72;
  --color--secunda-red: #9a3b2e;
  --color--tercear-red: #9b4537;
  --color--cuartar-red: #493a17;
  --color--quintar-red: #eaae6f;

  --color--primary-gold: #795300;
  --color--secunda-gold: #b28405;
  --color--tercear-gold: #efb810;
  --color--cuartar-gold: #f9db5c;
  --color--quintar-gold: #ffff94;

  --color--alfa-indigo: #e6cde5;
  --color--beta-indigo: #463470;

  --color--primary-pink: #ffa3ff;
  --color--secundy-pink: #ff5dff;
  --color--tercery-pink: #fe09fe;
  --color--cuartry-pink: #c71a83;
  --color--quintry-pink: #bba3ed;
}
