:root {
  --color--dark-back: #232323;
  --color--ligh-dark: #26294a;
  --color--: #01545a;
  --color--: #017351;
  --color--: #03c383;
  --color--: #aad962;
  --color--: #fbbf45;
  --color--: #ef6a32;
  --color--: #ed0345;
  --color--: #a12a5e;
  --color--: #710162;
  --color--: #110141;
}
